<div class="center jumbotron">
  <h1>Josh Mina</h1>
  <h1>
    <%= gravatar_for "Me" %>
  </h1>
  <p>Developer</p>
  <div class="social">
    <%= link_to image_tag("github32.png", alt: "Icon made by Dave Gandy from www.flaticon.com"), 'https://github.com/Josh1994' %>
    <%= link_to image_tag("linkedin32.png", alt: "Icon made by Elegant Themes from www.flaticon.com"), 'http://linkedin.com/in/josh-mina-bab61811a' %>
    <%= link_to image_tag("twitter32.png", alt: "Icon made by Elegant Themes from www.flaticon.com"), 'http://twitter.com' %>
  </div>
  <div>
    <%= link_to "Browse Now", '#', class: "btn btn-lg btn-primary" %>
  </div>
</div>

