<footer class="footer">
  <small>
    <p>© 2018 Josh Mina</p>
  </small>
  <div class="social"> 
    <%= link_to image_tag("github32.png", alt: "Icon made by Dave Gandy from www.flaticon.com"), 'https://github.com/Josh1994' %>
    <%= link_to image_tag("linkedin32.png", alt: "Icon made by Elegant Themes from www.flaticon.com"), 'http://linkedin.com/in/josh-mina-bab61811a' %>
    <%= link_to image_tag("twitter32.png", alt: "Icon made by Elegant Themes from www.flaticon.com"), 'http://twitter.com' %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>    
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Resume", resume_path %></li>
    </ul>
  </nav>
</footer>